@import url("custom.css");

.main {
  display: flex;
  justify-content: start;
  flex-direction: column;

  margin-inline: 6rem;
}

.main-header-layout {
  margin-left: 3rem;
  margin-top: 3rem;
}

.table-layout {
  display: flex;
  justify-content: start;
  flex-direction: column;

  margin-inline: 3rem;
  margin-bottom: 5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1.5rem;
  background-color: rgb(139, 0, 0, 0.6);
}

.table-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 2rem;
}

.line {
  height: 0.2rem;
  background-color: rgb(115, 115, 115);
}

.checkout-back-container {
  display: flex;
  justify-content: space-between;
}
