* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  color: whitesmoke;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0; */
}

/* .grid-item,
header,
main,
footer {
  background: green;
  color: white;
  border: 1px solid red;
} */

/* .body { */
/* background-color: black; */
/* } */

.body .header {
  background-color: lightgreen;

  padding: 0;
  margin: 0;
  border: 0;
}

.body .header .collapsed-menu {
  background-color: lightgreen;
  width: 1.5rem;
  height: 1.5rem;

  position: relative;
  top: 1rem;
  left: 1rem;
}

.body .header .empty-figure {
  background-color: lightgreen;
  grid-area: elem1;

  bottom: 0;
}

.body .header .header-text {
  background-color: lightgreen;
  font-size: 4.5rem;
  color: black;
  grid-area: elem2;

  padding: 0;
  margin: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.body .header .ninja-figure {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-self: self-end;

  grid-area: elem3;
  padding: 0;
  margin: 0;
}

.ninja-head-image {
  background-color: lightgreen;
  height: 4rem;
  margin: 0;
  bottom: 0;
}

.body .main .cards .card .card-figure .image {
  max-width: 14rem;
}

.body .main .cards .card .title {
  padding-inline: 1rem;
}

.body .main .cards .card .description {
  padding-inline: 1rem;
}

.body .main .cards .card .card-button {
  background-color: darkred;
  color: whitesmoke;
  padding: 0.4rem;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.body .main .cards .card.display-none {
  display: none;
}

.body .main .cart-cards .cart-card .cart-image {
  width: 100%;
}

.body .main .cart-cards .cart-card .cart-card-title {
  background-color: whitesmoke;
  padding-inline: 1rem;
  color: black;
}

.body .main .cart-cards .cart-card .cart-card-description {
  background-color: whitesmoke;
  padding-inline: 1rem;
  color: black;
}

.body .main .cart-cards .cart-card .cart-card-button {
  background-color: darkred;
  color: whitesmoke;
  padding: 0.4rem;
  margin-inline: 1.4rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  /* display: grid;
  justify-content: center; */
}

.body .main .checkout-container {
  /* display: flex;
  justify-content: center; */

  display: grid;
  justify-content: right;
  margin-bottom: 2rem;

  /* margin-inline-start: 2rem; */
}

.body .main .checkout-back-container {
  /* display: flex;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 100%;

  justify-content: space-between;

  margin-bottom: 2rem;
  /* margin-inline-start: 2rem; */
}

.body .main .checkout-container .checkout-button,
.body .main .checkout-back-container .checkout-button {
  background-color: darkred;
  color: whitesmoke;
  font-size: 2rem;
  padding: 1rem;
  margin-inline: 1.4rem;
  /* margin-bottom: 4rem; */
  border-radius: 10px;
  text-decoration: none;
}

.body .footer .footer-header {
  /* padding-bottom: 0.3rem; */
  color: whitesmoke;
  /* padding-top: 2rem; */
}

.body .footer .footer-text {
  color: #898989;
}

.body .footer .social {
  /* display: flex;
  gap: 0.15rem; */
  padding-bottom: 2rem;
}

.body .footer .social-img {
  height: 1.4rem;
}
