* {
  margin: 0;
  padding: 0;
  border: 0;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0; */
}

.grid-item,
header,
main,
footer {
  background: green;
  color: white;
  border: 1px solid red;
}

/* .body { */
/* background-color: black; */
/* } */

.body .header {
  background-color: lightgreen;

  padding: 0;
  margin: 0;
  border: 0;
}

.body .header .collapsed-menu {
  width: 1.5rem;
  height: 1.5rem;

  position: relative;
  top: 1rem;
  left: 1rem;
}

.body .header .empty-figure {
  grid-area: elem1;

  bottom: 0;
}

.body .header .header-text {
  font-size: 4.5rem;
  color: black;
  grid-area: elem2;

  padding: 0;
  margin: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.body .header .ninja-figure {
  display: flex;
  justify-content: center;
  align-self: self-end;

  grid-area: elem3;
  padding: 0;
  margin: 0;
}

.ninja-head-image {
  height: 4rem;
  margin: 0;
  bottom: 0;
}

.body .footer .footer-header {
  /* padding-bottom: 0.3rem; */
  color: whitesmoke;
  /* padding-top: 2rem; */
}

.body .footer .footer-text {
  color: #898989;
}

.body .footer .social {
  /* display: flex;
  gap: 0.15rem; */
  padding-bottom: 2rem;
}

.body .footer .social-img {
  height: 1.4rem;
}
