.grid-item,
header,
main,
footer {
  background: green;
  color: white;
  border: 1px solid red;
}

.body {
  /* background-color: black; */
}

.body .header {
  /* height: 18rem; */
  background-color: lightgreen;

  padding: 0;
  margin: 0;
  border: 0;

  /* position: relative;
  top: 0;
  left: 0;
  right: 0; */

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}

.body .header .collapsed-menu {
  width: 1.5rem;
  height: 1.5rem;

  position: absolute;
  top: 1rem;
  left: 1rem;
}

.body .header .empty-figure {
  /* height: 2.5rem; */
  /* background-color: blue; */
  grid-area: elem1;

  bottom: 0;
}

/* .ninja-figure { */
/* background-image: url("../assets/ninjahead.svg"); */
/* background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */

/* width: 5rem;
  height: 3rem; */

/* background-color: blue;
  grid-area: elem3;
} */

.body .header .header-text {
  font-size: 4.5rem;
  color: black;
  grid-area: elem2;

  padding: 0;
  margin: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}

.body .header .ninja-figure {
  display: flex;
  justify-content: center;
  /* align-content: end; */
  align-self: self-end;

  /* background-color: blue; */
  grid-area: elem3;

  /* width: 100%; */
  /* height: 4rem; */
  padding: 0;
  /* bottom: 0; */
  /* left: 50%;
  right: 50%; */
  margin: 0;
}

.ninja-head-image {
  /* display: flex;
  justify-content: center; */
  /* display: inline-grid; */
  /* grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
    grid-gap: 3px; */
  /* justify-items: center; */

  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */

  /* position: relative;
  bottom: 0; */
  /* left: 50%;
  right: 50%; */

  /* width: 10rem; */
  height: 4rem;
  margin: 0;
  bottom: 0;
}
