* {
  margin: 0;
  color: whitesmoke;
}

.body {
  display: flex;
  justify-content: start;
  flex-direction: column;

  background-color: black;
}

.header {
  height: 12rem;
  background-color: lightgreen;

  position: relative;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.collapsed-menu {
  width: 1rem;
  height: 1rem;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.header-text {
  font-size: 2.5rem;
}

.empty-figure {
  height: 2.5rem;
}

.ninja-figure {
  background-image: url("../assets/ninjahead.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 5rem;
  height: 3rem;
}

.cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 3rem;
}

.cart-card {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  color: black;
  background-color: whitesmoke;
  max-height: 33rem;
  max-width: 21.5rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.cart-image {
  width: 100%;
}

.cart-card-title {
  padding-inline: 1rem;
  color: black;
}

.cart-card-description {
  padding-inline: 1rem;
  color: black;
}

.cart-card-button {
  background-color: darkred;
  padding: 0.4rem;
  margin-inline: 1.4rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.checkout-container {
  display: flex;
  justify-content: center;
}

.checkout-button {
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #333333;
  padding-inline: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}

.footer-header {
  padding-bottom: 0.3rem;
  color: whitesmoke;
  padding-top: 2rem;
}

.footer-text {
  color: #898989;
}

.social {
  display: flex;
  gap: 0.15rem;
  padding-bottom: 2rem;
}

.social-img {
  height: 1.4rem;
}
