@import url("custom.css");

.body .main {
  margin-inline: 6rem;
}

.body .main .cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 3rem;
}

.body .main .cards .card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;

  background-color: black;
  max-height: 27rem;
  max-width: 14rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.body .main .cards .card .card-figure .image {
  max-width: 14rem;
}

.body .main .cards .card .title {
  padding-inline: 1rem;
}

.body .main .cards .card .description {
  padding-inline: 1rem;
}

.body .main .cards .card .card-button {
  background-color: darkred;
  padding: 0.4rem;
  margin-inline: 1rem;
  border-radius: 10px;
}

.body .main .cards .card .display-none {
  display: none;
}
