@import url("custom.css");

.cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 3rem;
}

.card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;

  background-color: black;
  max-height: 27rem;
  max-width: 14rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.image {
  max-width: 14rem;
}

.title {
  padding-inline: 1rem;
}

.description {
  padding-inline: 1rem;
}

.card-button {
  background-color: darkred;
  padding: 0.4rem;
  margin-inline: 1rem;
  border-radius: 10px;
}

.display-none {
  display: none;
}
