* {
  margin: 0;
  color: whitesmoke;
}

.body {
  display: flex;
  justify-content: start;
  flex-direction: column;

  /* max-width: 50rem; */
  background-color: antiquewhite;
  /* height: 100vh; */
}

.header {
  height: 12rem;
  background-color: lightgreen;

  position: relative;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  /* justify-content: space-between; */
  /* text-align: center; */

  /* text-align: center;
  vertical-align: middle; */
}

.collapsed-menu {
  width: 1rem;
  height: 1rem;

  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.header-text {
  /* flex: 2; */
  font-size: 2.5rem;

  /* position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */

  /* position: absolute;
  left: 50%;
  right: 50%;
  top: 50%; */
  /* bottom: 50%; */
  /* transform: translate(-50%, -50%); */

  /* position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%; */

  /* transform: translate(-50%, -50%); */
}

.empty-figure {
  height: 2.5rem;
  /* width: 5rem;
  height: 3rem; */
  /* width: 100%;
  height: 100%;*/
}

.ninja-figure {
  /* flex: 1; */
  /* background-color: aliceblue; */
  background-image: url("assets/ninjahead.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 5rem;
  height: 3rem;

  /* position: relative;
  bottom: 0; */

  /* transform: translate(-50%, -50%); */

  /* position: absolute;
  left: 50%; */
  /* right: 50%; */
  /* bottom: 0; */
  /* bottom: 0; */
  /* background-; */
  /* width: 10rem;
  height: 10rem; */
  /* width: 10rem; */
  /* height: 10rem; */
  /* background-position: bottom; */
  /* display: table; */
  /* img */
  /* height: 5rem; */
}

.main {
  /* height: 100vh; */
  background-color: black;

  /* overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh; */
}

.cards {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 3rem;
  /* background-color: aqua; */
}

.cart-card {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;

  color: black;
  background-color: whitesmoke;
  max-height: 33rem;
  max-width: 21.5rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.cart-image {
  /* height: 10rem; */
  /* width: 21.5rem; */
  width: 100%;
}

.cart-card-title {
  padding-inline: 1rem;
  color: black;
}

.cart-card-description {
  padding-inline: 1rem;
  color: black;
}

.cart-card-button {
  background-color: darkred;
  padding: 0.4rem;
  margin-inline: 1.4rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  /* padding: 1rem; */
}

.checkout-container {
  display: flex;
  justify-content: center;
}

.checkout-button {
  /* display: flex;
  align-content: center;
  justify-content: center; */

  /* text-align: center; */

  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: #333333;
  /* background-color: darkgray; */
  /* height: 10rem; */
  padding-inline: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}

.footer-header {
  padding-bottom: 0.3rem;
  color: whitesmoke;
  padding-top: 2rem;
}

.footer-text {
  color: #898989;
}

.social {
  display: flex;
  gap: 0.15rem;
  padding-bottom: 2rem;
  /* justify-content: space-between; */
}

.social-img {
  height: 1.4rem;
}
