* {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */

  height: 15rem;
  background-color: lightgreen;
  /* text-align: center;
  vertical-align: middle; */
}

.header-text {
  /* flex: 2; */

  font-size: 2.5rem;
}

.empty-figure {
  width: 5rem;
  height: 3rem;
}

.ninja-figure {
  /* flex: 1; */
  /* background-color: aliceblue; */
  background-image: url("assets/ninjahead.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  /* left: 0;
  right: 0; */
  /* bottom: 0; */
  /* background-; */
  /* width: 10rem;
  height: 10rem; */
  width: 5rem;
  height: 3rem;
  /* width: 10rem; */
  /* height: 10rem; */
  /* background-position: bottom; */
  /* display: table; */
  /* img */
  /* height: 5rem; */
}
