.body .main .main-header-layout {
  margin-left: 3rem;
  margin-top: 3rem;
}

.body .main .main-header-layout .header-text {
  font-size: 2.5rem;
}

.body .main .cards {
  margin-left: 3rem;
  margin-right: 6rem;
}

.body .main .table-layout {
  display: grid;
  grid-template-columns: 1fp 1fp 1fp;
  grid-template-rows: 1fp 1fp 1fp 1fp;

  margin-inline: 1rem;
  margin-bottom: 5rem;
}

.body .main .table-layout .table-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 1.5rem;
  background-color: rgba(139, 0, 0, 0.6);
}

.body .main .table-layout .table-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 2rem;
}

.body .main .table-layout .table-line .line {
  height: 0.2rem;
  background-color: rgb(115, 115, 115);
}

.table-header-text {
  background-color: rgba(139, 0, 0, 0.6);
}
