html,
body {
  height: 100%;
}

.body {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 12rem auto 10rem;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . elem1 . . . ."
    ". . . . elem2 . . . ."
    ". . . . elem3 . . . .";
}

.body .main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fp 1fp 10rem;
}

.body .main .cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(14rem, 1fr)
  ); /* see notes below */
  grid-gap: 1em;

  margin: 2rem;
}

.body .main .cart-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(21.5rem, 1fr)
  ); /* see notes below */
  grid-gap: 1em;
  margin: 2rem;
}

.body .main .cards .card {
  display: grid;
  grid-template-columns: 1fp;
  grid-template-rows: 1fp 1fp 1fp 1fp;
  grid-gap: 1em;

  background-color: black;
  max-height: 27rem;
  max-width: 14rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  border-bottom: 1rem;
}

.body .main .cart-cards .cart-card {
  display: grid;
  grid-template-columns: 1fp;
  grid-template-rows: 1fp 1fp 1fp 1fp;
  grid-gap: 1em;

  color: black;
  background-color: whitesmoke;
  max-height: 33rem;
  max-width: 21.5rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

header,
main {
  grid-column-start: 2;
  grid-column-end: 2;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.body .footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto 10%;

  padding-top: 5%;
  background-color: #333333;
  padding-inline: 13%;
}
